@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat&display=swap");
.wrap {
  background-color: #4B4141;
}

.main {
  overflow-x: hidden;
}

.main .burgerBtn {
  background-color: #F1F1F1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  z-index: 6;
  right: 20px;
  top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main .burgerBtn span {
  position: absolute;
  width: 20px;
  display: block;
  background-color: #333333;
  height: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}

.main .burgerBtn span:nth-child(1) {
  top: 12px;
}

.main .burgerBtn span:nth-child(3) {
  bottom: 12px;
}

.main .burgerBtn.active {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main .burgerBtn.active span:nth-child(1) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main .burgerBtn.active span:nth-child(2) {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.main .burgerBtn.active span:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  bottom: 47%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main .burgerBtn.active span:nth-child(3) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main_content {
  width: 100vw;
  height: 100vh;
}

.main_content .header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100vh;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0;
}

.main_content .header .navigation {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #333333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  padding: 10px 10px;
}

.main_content .header .navigation_item {
  margin-bottom: 10px;
  text-align: left;
}

.main_content .header .navigation_item a {
  position: relative;
  text-transform: capitalize;
  text-decoration: none;
  color: #F1F1F1;
  font-size: 2vw;
  font-family: 'Montserrat', sans-serif;
}

.main_content .header .navigation_item a::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: #F1F1F1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main_content .header .navigation_item a:hover::before {
  width: 100%;
}

.main_content .header .navigation_item:nth-child(2) {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.main_content .header .navigation_item:nth-child(3) {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.main_content .header .navigation_item:nth-child(4) {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.main_content .header .navigation_item:nth-child(5) {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
}

.main_content .header .navigation_item:last-child {
  margin-bottom: 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.main_content .header.active {
  z-index: 5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main_content .header.active .navigation {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main_content .header.active .navigation_item:nth-child(2) {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.main_content .header.active .navigation_item:nth-child(3) {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.main_content .header.active .navigation_item:nth-child(4) {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.main_content .header.active .navigation_item:nth-child(5) {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.main_content .header.active .navigation_item:last-child {
  margin-bottom: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.main_content .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}

.main_content .title_layer {
  background: url("../img/mainFilm.png") center no-repeat;
  background-size: cover;
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
}

.main_content .title h1 {
  position: relative;
  z-index: 2;
  font-family: 'Architects Daughter', cursive;
  color: #fff;
  font-size: 9vw;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.main_content .title::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(10, 9, 9, 0.5);
  overflow: hidden;
}

.paragraph {
  width: 100px;
  height: 50px;
  background-color: #252525;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 5;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paragraph p {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 0;
  font-size: 1vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.about {
  position: relative;
}

.about_content {
  overflow-x: hidden;
}

.about_content_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about_content_text h4 {
  font-family: 'Architects Daughter', cursive;
  color: #fff;
  font-size: 1.5vw;
}

.about_content_text h4:first-child {
  margin-bottom: 25px;
}

.about_content_img {
  padding: 0;
}

.about_content_img img {
  max-width: 100%;
  height: auto;
}

.quotes {
  position: relative;
}

.quotes_content_img {
  position: relative;
  height: 80vh;
}

.quotes_content_img p {
  position: absolute;
  font-family: 'Architects Daughter', cursive;
  font-size: 2vw;
  max-width: 50%;
}

.quotes_content .imgLeft {
  background: url("../img/quotes1.png") center no-repeat;
  background-size: cover;
}

.quotes_content .imgLeft p {
  bottom: 3.5%;
  left: 40%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #010101;
}

.quotes_content .imgRight {
  background: url("../img/quotes2.png") center no-repeat;
  background-size: cover;
}

.quotes_content .imgRight p {
  right: 30%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  top: 3.5%;
  color: #F1F1F1;
}
/*# sourceMappingURL=style.css.map */